VITE_API_SERVER_DOMAIN=127.0.0.1:8000
VITE_WS_SERVER_DOMAIN=127.0.0.1:8000

VITE_CLIENT_ID=
VITE_CLIENT_SECRET=

VITE_SOCIAL_GOOGLE_CLIENT_ID=
VITE_SOCIAL_GOOGLE_CLIENT_SECRET=

VITE_SOCIAL_FACEBOOK_CLIENT_ID=
VITE_SOCIAL_FACEBOOK_CLIENT_SECRET=

VITE_SOCIAL_GOOGLE_PUBLIC_KEY=
VITE_SOCIAL_FACEBOOK_PUBLIC_KEY=
