# Django
DJANGO_SECRET_KEY=sdadsjkalsdkadkadlkaldkaldkadlkald
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*
USE_HTTPS_IN_ABSOLUTE_URLS=False

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
ANDROID_SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
IOS_SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

SOCIAL_AUTH_FACEBOOK_OAUTH2_KEY=
SOCIAL_AUTH_FACEBOOK_OAUTH2_SECRET=

LIVEKIT_API_KEY=your_livekit_api_key
LIVEKIT_API_SECRET=your_livekit_api_secret
LIVEKIT_URL=http://localhost:7880
LIVEKIT_WS_URL=ws://localhost:7880

# Coturn
TURN_REALM=localhost
TURN_USER=admin:admin
TURN_PORT=3478
LISTEN_IP=0.0.0.0
EXTERNAL_IP=
MIN_PORT=49152
MAX_PORT=65535

# Domain
FRONTEND_DOMAIN=familyarbore.com
BACKEND_DOMAIN=api.familyarbore.com
WS_DOMAIN=ws.familyarbore.com
RTC_DOMAIN=lkm.familyarbore.com
ICE_DOMAIN=icem.familyarbore.com

# Database settings
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432
DB_ENGINE=mysql // postgresql

# Email settings
DEFAULT_FROM_EMAIL=Family Arbor
EMAIL_HOST=your_email_host
EMAIL_PORT=your_email_port
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email_user
EMAIL_HOST_PASSWORD=your_email_password

# Redis settings
REDIS_HOST=redis://redis:6379/1

# Memcache
MEMCACHE_HOST=memcached:11211

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE_NAME=
RABBITMQ_VHOST=


