
* {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}

.center-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100dvh !important;
}

.logo {
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.text-gradient-primary {

}

.nav-link, .nav-link span {
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}


swiper-container::part(bullet) {
    background-color: #009688;
}

swiper-container::part(bullet-active) {
    background-color: #009688;
}


.chat-message {
    transition: transform 0.3s ease;
    cursor: grab;
}

.chat-message.swiping {
    cursor: grabbing;
}

.chat-message.swiping.left {
    transform: translateX(-100px);
}

.my-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.my-canvas.hidden {
    display: none;
    width: 0;
    height: 0;
}

@keyframes ringing {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
